.diploma__details {
    width: 100%;
    padding: 10rem 0;

    &--container {
        margin: 0 4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin: 10rem 0;
    }
    .tab {
        input:checked ~ label .tab__head {
            background: var(--secondary);
            color: var(--white);
        }
    }
    .tab label .tab__number {
        background: var(--secondary);
    }
}